<% layout('admin-layout') -%>

<script type="text/javascript"> 
//
var aAsc = [];
function sortTable(e) { 

	var nr = $(e.currentTarget).index(); 
	aAsc[nr] = aAsc[nr]=='asc'?'desc':'asc';
	$('.xtable > tbody > tr').tsort('tr["num"], td:eq('+nr+')',{order:aAsc[nr]});
}

jQuery(document).ready(function(e) { 
	$('.xtable').find('thead th').siblings().bind('click', function(e){ 
		//alert(99)
		sortTable(e); 
	});
});	
</script>


<h2>Videos
<a class="button" href="/admin/videos/new">add new</a></h2>
<table class="xtable">
	<thead>
		<th>Titel</th>
		<th>Modified</th>
	</thead>
	<tbody>
	
	<% items.forEach(function(item){  %>
	
	<tr>
		<td class="table-menu">
			<%= item.metadata[0].title %><br>
			<span class="table-menu-entry">
				<a href="/videos/view/<%= item._id %>">view</a> | 
				<a href="/admin/videos/metadata/edit/<%= item._id %>">edit Metadata</a> | 
				<a href="/admin/videos/annotations/edit/<%= item._id %>">edit annotations</a> |
				<a href="/videos/stats/<%= item._id %>">view stats</a> 
			</span>
		</td>
		<td><%= item.updated_at %></td>
		
	</tr>
<!--  
<div class="scene-view">
	<h3><a href="/videos/view/<%= item._id %>"><%= item.metadata[0].title %></a></h3>
  <div class="bim">
  	<% if (item.thumbnail != "") { %> 
  		<a href="/videos/view/<%= item._id %>">
  			<img class="still-images" src="<%= item.metadata[0].thumbnail %>" width="180" />
  		</a>	
  	<% }else{ %>
  		<a href="/videos/view/<%= item._id %>">
	  		<img class="still-images" src="/vi-lab/img/placeholder.jpg" width="180" />
	  	</a>	
  	<% }%>	
  </div>
  <div class="bam">
		<span class="lecturer">Dozentin: <%= item.metadata[0].author %></span><br>
		<div class="description"><%= item.metadata[0].abstract %></div>
		<div class="controls" hidden>
			<a class="button" href="/videos/edit/<%= item._id %>" title="Update this item">edit</a>
		</div>	
		<span class="tags"><strong>Tags:</strong>
		<% item.metadata[0].tags.forEach( function ( tag ){ %>
			<%= tag.t %>,
		<% }); %>
		 </span>
  </div> 
</div>
-->
<% if (items.length) { %><% } %>
<% }); %>
</tbody>
</table>


